<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/beans/spring-context-3.1.xsd
">

<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location">
            <value>classpath:datosEmpresa.propiedades</value>
        </property>
    </bean>

<!-- creacion de la dependencia -->
<bean id="miInforme" class="es.pildoras.ioC.Informe"></bean>

<!-- inyeccion con constructor -->
<bean id="miEmpleado" class="es.pildoras.ioC.DirectorEmpleado">

<constructor-arg ref="miInforme"></constructor-arg>

<property name="email" value="${emailDirectivo}"></property>
<property name="nombreEmpresa" value="${nombreEmpresa}"></property>

</bean>

<!-- inyeccion con seters -->
<bean id="miSecretarioEmpleado" class="es.pildoras.ioC.SecretarioEmpleado" >

<property name="informeNuevo" ref="miInforme"></property>

<property name="email" value="${emailSecretario}"></property>
<property name="nombreEmpresa" value="${nombreEmpresa}"></property>

</bean>




</beans>